.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.responsive_image {
  max-width: 100%;
}

.cell {
  margin: 1rem;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.member_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.2rem;
}

.role {
  font-weight: 300;
  font-size: 90%;
  padding-bottom: 0.5rem;
}

.social_media_icon {
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 1rem;
  
}

.row > .column:first-child {
  width: 25vw;
  text-align: end;
}

.name,
.about_heading {
  color: #a91e30;
  font-family: 'Open Sans', sans-serif;
}

.about_heading {
  font-size: 24px;
  font-weight: 300;
  margin: 12px auto;
}

.name {
  font-size: 1.1rem;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .cell {
    width: calc(25% - 2rem);
  }
  .cell:last-of-type,
  .cell:nth-last-of-type(2) {
    margin: 1rem auto;
  }
  
}

@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
  .row > .column:first-child {
    width: 100%;
    text-align: center;
  }

  .row > .column {
    text-align: center;
  }
}

.paragraph {
  max-width: 576px;
  font-weight: 300;
}

.paragraph > span {
  font-weight: 300;
  font-size: 16px;
}

