.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

.responsive_image {
  max-width: 100%;
  display: block;
}

.styled_image {
  filter: grayscale(0.7);
}

.cell {
  margin: 1rem;
}

.cell a {
  text-decoration: none !important;
}

.name {
  color: #a91e30;
  font-weight: 300;
  font-family: 'Open Sans', 'sans-serif';
}
