.container {
  max-width: 1200px;
}

.responsive_image {
  max-width: 100%;
  margin: 0 auto; 
}

.cell {
  margin: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .cell {
    width: calc(50% - 3rem);
  }
  .gold_cell {
    width: calc(72% - 3rem);
  }
}

@media screen and (min-width: 900px) {
  .cell {
    width: calc(33.333% - 3rem);
  }
  .gold_cell {
    width: calc(38% - 3rem);
  }
}


@media screen and (min-width: 1200px) {
  .cell {
    width: calc(20% - 3rem);
  }
  .gold_cell {
    width: calc(28% - 3rem);
  }
}