.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.responsive-image {
  max-width: 100%;
}

.styled_image {
  filter: grayscale(0.7);
}

.cell {
  margin: 1rem;
}

.cell a {
  text-decoration: none !important;
}

.cell img {
  display: block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

@media screen and (min-width: 1200px) {
  .cell {
    width: calc(33.3% - 4rem);
    margin: 2rem;
  }
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 300;
  text-align: center;
}

.role {
  font-weight: 300;
  font-size: 90%;
  padding-bottom: 0.5rem;
}

.social-media-icon {
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 1rem;
}

.row > .column:first-child {
  width: 25vw;
  text-align: end;
}

.name,
.about-heading span,
.name span {
  color: #a91e30;
  font-family: 'Open Sans', 'sans-serif';
}

@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
  .row > .column:first-child {
    width: 100%;
    text-align: center;
  }

  .row > .column {
    text-align: center;
  }
}
