.container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .text_section {
    margin-bottom: 24px;
  }