.container {
  margin: 0 auto;
  padding: 0;
}

.column {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column > .column_text {
  color: white !important;
  text-align: center;
  line-height: 1.375;
  margin-bottom: 24px;
}

.column > div > button > span {
  color: white !important;
}

@media screen and (max-width: 600px) {
  .column {
    margin: 0 1rem;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .column {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .column {
    width: calc(33.3333% - 2rem);
  }
}

@media screen and (max-width: 1200px) {
  .grid > .column {
    text-align: center;
  }
}

.social_icon {
  color: #e1e1e1;
  padding: 5px;
}

.social_icon:hover {
  color: #fff;
}

.social_icon > a {
  color: white;
}

.social_icon > a:hover {
  color: #ddd;
}

.social_text {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form > .form_input {
  color: white !important;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form_input > input,
.form_input > textarea {
  background-color: #e1e1e1 !important;
  color: #222 !important;

  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
}

.form_input > input[type=submit] {
    cursor: pointer;
}


