.nav button, .nav button span {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.no_pad_button > button > span
 {
  margin: 0 !important;
  padding-right: 0 !important;
}
