
.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0%);

  }
  
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
    color: rgb(51, 51, 51);
  }
  
  .side-drawer a,
  .side-drawer select {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(51, 51, 51);
  }
  
  .side-drawer a:hover,
  .side-drawer a:active {
    color: #ec1c24;
  }

  
  @media (min-width: 769px) {
      .side-drawer {
          display: none;
      }
  }
  