.toolbar {
    width: 100vw;
    max-width: 100%;
    height: 68px;
    z-index: 2;
    background-color: #fff;
    margin-right: 0 !important;
    position: fixed;
    top:0;
  }
  
  .toolbar__navigation {
    display: flex;
    width: calc(100% - 2rem);
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }
  
  .toolbar__logo {
    margin-left: 1rem;
  }

  
  
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .toolbar_navigation-items a {
    text-decoration: none;
    font-size: 1.1875rem;
    letter-spacing: 0.04167em;
    line-height: 24px;
    color: #333 !important;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  
  .toolbar_navigation-items ul li a:hover,
  .toolbar_navigation-items a:active {
    color: #ec1c24 !important;
  }
  
  @media (max-width: 768px) {
    .toolbar_navigation-items {
      display: none;
    }

    .toolbar__navigation {
      width: calc(100% - 2rem);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .toolbar__logo {
      order: 100;
    }
  }
  
  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 0;
    }
  }

  .toolbar_navigation-items li {
    transition-duration: 0.5s;
   }

   .toolbar_navigation-items li:hover {
    cursor: pointer;
  }
  

  .toolbar_navigation-items ul li ul {
    visibility: hidden;
    /* opacity: 0; */
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 6rem;
    padding: 0 1rem 1rem 1rem;

    display: none;
    background-color: white;  
  }
  
  .toolbar_navigation-items ul li:hover > ul,
  .toolbar_navigation-items ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  .toolbar_navigation-items ul li ul li {
    clear: both;
    width: 100%;
    padding-top: 0.5rem;
  }


