.Coral {
    color: #000;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 5px solid #fff;
    background: transparent;
    transition: all 1s ease;
  }
  .Coral button span {
    position: absolute;
    content: '';
    top: 1.2em;
    left: 70%;
    width: 10.2em;
    height: 10em;
    margin-left: -6em;
    border-radius: 42.5%;
    transform-origin: 50% 50%;
    transition: all 1s ease, top 1.5s ease;
  }
  .Coral button .Coralwave1 {
    background: #ffb733;
    animation: smallwave 3s infinite linear;
  }
  .Coral button .Coralwave2 {
    background: #f97890;
    animation: smallwave 4s infinite linear;
  }
  .Coral button .Coralwave3 {
    background: #4ab3e1;
    animation: smallwave 5s infinite linear;
  }
  .Coral button:hover {
    transition: all 1s ease;
  }
  .Coral button:hover span {
    top: 0.5em;
    transition: all 1s ease, top 1.5s ease;
  }
  
  .Coral button {
    cursor: pointer;
    overflow: visible;
    outline: none;
    color: #fff;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 300;
    padding: 1rem 3rem 1rem 3rem;
    /* text-transform: uppercase; */
    font-family: 'Open Sans';
    font-size: 1.2em;
  
    border-radius: 0 !important;
  }
  .Coral button a {
    text-decoration: none;
  }
  
  @-moz-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @-webkit-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @-o-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  