$brand-color: #ec1c24;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#425563, #5F7A76, #80746E, #767676) !default;
$brand-accent-colors: (#ec1c24, #a91e30, #FF383F) !default;
$brand-status-colors: (
  critical: #F04953,
  error: #F04953,
  warning: #FFD144,
  ok: $brand-color,
  unknown: #CCCCCC,
  disabled: #CCCCCC
);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#000001, #333333, #3B3B3B, #434343, #666666);
$brand-graph-colors: $brand-neutral-colors;
$logo-color-bright: #ed1c24;
$logo-main-color: #aa1e30;
