@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Open+Sans:300,400');


button,
input[type=button] {
  background-color: transparent;
  border: 2px solid #ec1c24;
  border-radius: 4px;
  color: #333;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 120px;
  max-width: 384px;
  padding: 6px 22px;
}


body {
  margin: 0;
  font-family: 'Arial', 'Open Sans', sans-serif;
}